{%load static%}

<header
  style="
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
  "
>
  <h3>Contact Us ...</h3>
</header>

<div class="services">
  <div class="contacts">
    <div class="contact_info">
      <h4>Phone number:</h4>
      <p>+254 707219686</p>
    </div>
    <div class="contact_info">
      <h4>Email:</h4>
      <email>dkiarie600@gmail.com</email><br />
    </div>
  </div>
  <div class="socials">
    <div class="social_img">
      <img src="{%static 'fb (5).jpg'%}" alt="LinkedIn" />
      <h4>Linked In</h4>
    </div>
    <div class="social_img">
      <img src="{%static 'github (1).jpeg'%}" alt="Github" />
      <h4>Github</h4>
    </div>
    <div class="social_img">
      <img src="{%static 'fb (2).png'%}" alt="Twitter" />
      <h4>X</h4>
    </div>
    <div class="social_img">
      <img src="{%static 'fb (4).jpg'%}" alt="Whatsapp" />
      <h4>Whatsapp</h4>
    </div>
  </div>
</div>

<footer>
    <p>© 2024 Astra Developers. All rights reserved.</p>
</footer>
