{%extends "home/layout.html"%}

{%block body%}
<section>
<header>
    <div class="logo">
        <h1><a href="{%url 'AstraDev:profile'%}">Astra.</a></h1>
        <h3>AstraDev Hub company </h3>
    </div>
    
    <div class="navigation">
         <a href="#">home</a>
         <a href="#">about</a>
         <a href="#">skills</a>
         <a href="#">contacts</a>
</div>
</header>

<div class="home">
   <div class="card">
     <div class="profile">
     <h1><b>🕸️</b></h1>  <br> 
     </div>
     <h3>AstraDev</h3>
     <p><b>revitalize your business activities success with us</b></p>
     
   </div>
   <div class="info">
    <h2>Welcome to AstraDev Hub</h2>

    <p>
        We are skillfull packaged and experienced team <br>
        we help businesses and companies operate online with...</p><br>
        <ul>
            <li>responsive and dynamic website</li>
            <li>IOS android development</li>
            <li>tasks automation</li>
            <li>Graphics & Logo design</li>
        </ul>
        
    
   </div>
   
   <div class="about">
    <h3>Experience</h3>
    <table>
        <thead>
            <tr>
            <th>years</th>
            <th>fields</th>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>3</td>
                <td>fullstack web</td>
            </tr>
            <tr>
                <td>2</td>
                <td>android development</td>
            </tr>
            <tr>
                <td>1</td>
                <td>automation</td>
            </tr>
        </tbody>
        
    </table>

   </div>
</div>

<header style="color: aliceblue; display: flex; align-items: center; justify-content: center;">
    <h3>Our Services</h3>
</header>

<div class="services">
   
  
  <div class="web">
    <h4>web design</h4>
    <img src="{static 'web.jpg'}" alt="web3">
    <p>we provide our customers with the dynamic and responsive websites,
        that enhance businesses to market online and reach wide milestones
    </p>
  </div>
  <div class="apps">
    <h4>android IOS</h4>
    <p>
        we build apps to run over different IOS systems including android and IOS
    </p>
  </div>
  <div class="automation">
    <h4>Tasks Automation</h4>
    <p>we help companies and businesses with tasks automation and task scheduling</p>
     
  </div>
</div>

</section>

{%endblock%}